body {
    font-family: Arial, Helvetica, sans-serif;
}

.top-container {
    background-color:#006a71;
    color: white;
    text-align: center;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
    padding-left: 30px;
}
.navbar-brand-img {
     width: 60px;
     padding: 2px 3px;
}

.dropdown-menu:hover {
    background-color: #006a71;
}

.dropdown-item {
    color: white;
}

.d-block {
    width: auto;
}

.carousel-item {
    height: 575px;
  }
  
  .d-block {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }


  .row {
      padding-top: 40px;
      padding-bottom: 40px;
  }

  #aboutus {
      background-color: #cbeaed;
      font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
 color: #006a71;
  }

 .cp1 {
     width: 10px;
     height: 100px;
 }

 .products {
     text-align: center;
 }

 .product-img {
     width: 200px;
     border-radius: 50%;
     border-style: solid;
     border: #cbeaed;
 }

 .products {
     background-color:#006a71;
 }

 .products-h1{
    padding-top: 30px;
     color:#cbeaed;
    }



 h5 {
     padding-top: 30px;
     color:#cbeaed;
    }
     

 #applications {
   background-color: #cbeaed;
   text-align: center;
   color:#006a71 ;
 }

 .applications-h1 {
     padding-top: 30px;
 }

 .applications-img {
     height: 200px;
     width: 300px;
     border-style: solid;
     border-color: #006a71;
    
 }

 h4 {
     padding-top: 30px;
 }
 .trasparent-img {
     width: 500px;
     margin-left: 80px;
 }
 

#clients {
    background-color: #006a71;
}

.img-fluid {
    width: 150px;
}

.clients {
    background-color: #006a71 ;
}

.footer-contact {
    padding: 3px 10px;
    color: #006a71;
}


#footer {
 background-color:  #cbeaed;

}

.nav-link:hover {
    color:#cbeaed;

}

.navbar-brand:hover{
    color:#cbeaed;
}

.navbar-toggler {
      color: white;
}

.navbar {
    position:fixed;
}


.c-f {
    padding-top:  20px; 
}

html {
    scroll-behavior:smooth;
  }

  .footer-img {
      text-align: center;
  }

  .fab {
      padding: 10px;
      color: black;
  }

  .fab:hover {
      color: #006a71;
  }