body {
    font-family: Arial, Helvetica, sans-serif;
}

.top-container {
    background-color:#006a71;
    color: white;

}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
    padding-left: 30px;
}
.navbar-brand-img {
     width: 60px;
     padding: 2px 3px;
}

.dropdown-menu:hover {
    background-color: #006a71;
}

.dropdown-item {
    color: white;
}

.nav-link:hover {
    color:#cbeaed;

}

.navbar-brand:hover{
    color:#cbeaed;
}

.navbar-toggler {
      color: white;
}

.navbar {
    position:fixed;
}


h1 {
    text-align: center;
      padding-top: 30px;
}

.container-watermeters{
    background-color:#cbeaed ;
    padding-bottom: 30px;
}


.container-watermeters-img {
     width: 500px;
     margin-left: 50px;
     height: 500px;
}

.row {
margin-top: 40px;
}

.uwm2 {
    padding-top: 100px;
}

.container-watermeters-2 {
    background-color:#cbeaed ;
}


 